<footer>
  <nav>
    <div class="btn">
      <div class="whitenav">
        <a (click)="moveToPage('')">ГЛАВНАЯ</a>
        <a>ЦЕНЫ</a>
        <a>ПОРТФОЛИО</a>
        <a>СОВЕТЫ</a>
        <a>КОНТАКТЫ</a>
      </div>
    </div>
  </nav>
  <div class="logo">
    <a class="btn" (click)="moveToPage('')">
      <img class="graphiclogo" src="../../assets/images/logo_footer.png">
    </a>
  </div>
  <div class="social">
    <a href="#"><img src="../../assets/images/social_icons/em.png"></a>
    <a href="#"><img src="../../assets/images/social_icons/face.png"></a>
    <a href="#"><img src="../../assets/images/social_icons/goo.png"></a>
    <a href="#"><img src="../../assets/images/social_icons/inst.png"></a>
    <a href="#"><img src="../../assets/images/social_icons/pint.png"></a>
  </div>
  <p>Alexey Pasevich. 2019</p><br>
</footer>
