<app-header></app-header>
<main>
  <img src="../../assets/images/homepage_img.jpeg" class="mw-100">
  <div class="advantages_container">
    <div class="advantages">
      <div class="advantages_item">
        <h2>Бесплатное планировочное решение</h2>
        <p>Закажите бесплатную планировку или смету, оцените качество нашей работы, и после этого - принимайте решение о нашем дальнейшем сотрудничестве на платной основе!</p>
      </div>
      <div class="advantages_item">
        <h2>Бесплатная подробная смета</h2>
        <p>Закажите бесплатную планировку или смету, оцените качество нашей работы, и после этого - принимайте решение о нашем дальнейшем сотрудничестве на платной основе!</p>
      </div>
      <div class="advantages_item">
        <h2>Бесплатная подробная консультация</h2>
        <p>Закажите бесплатную планировку или смету, оцените качество нашей работы, и после этого - принимайте решение о нашем дальнейшем сотрудничестве на платной основе!</p>
      </div>
      <div class="advantages_item">
        <h2>Бесплатное планировочное решение</h2>
        <p>Закажите бесплатную планировку или смету, оцените качество нашей работы, и после этого - принимайте решение о нашем дальнейшем сотрудничестве на платной основе!</p>
      </div>
      <div class="advantages_item">
        <h2>Бесплатная подробная смета</h2>
        <p>Закажите бесплатную планировку или смету, оцените качество нашей работы, и после этого - принимайте решение о нашем дальнейшем сотрудничестве на платной основе!</p>
      </div>
      <div class="advantages_item">
        <h2>Бесплатная подробная консультация</h2>
        <p>Закажите бесплатную планировку или смету, оцените качество нашей работы, и после этого - принимайте решение о нашем дальнейшем сотрудничестве на платной основе!</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
