<app-header></app-header>
<main>
  <img src="../../assets/images/homepage_img.jpeg" class="mw-100">
  <div class="advantages_container">
    <div class="advantages">
      <div class="advantages_item">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officia totam velit? Incidunt, itaque, numquam!</p>
      </div>
      <div class="advantages_item">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officia totam velit? Incidunt, itaque, numquam!</p>
      </div>
      <div class="advantages_item">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officia totam velit? Incidunt, itaque, numquam!</p>
      </div>
      <div class="advantages_item">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officia totam velit? Incidunt, itaque, numquam!</p>
      </div>
      <div class="advantages_item">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officia totam velit? Incidunt, itaque, numquam!</p>
      </div>
      <div class="advantages_item">
        <h2>Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic officia totam velit? Incidunt, itaque, numquam!</p>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
